.coluna {
	float: left;
	margin: 0.5%;
	width: 24%;

}

.exibicao {

	margin-top: 70%;
}

.img-circle {
    border-radius: 50%;
    width: auto;
    height: 116px;
    display: block;
    max-width: 100%;
    
    
}

#root {
  
   background-image:url('css/images/default.jpg');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

.char{
	position: relative;
}

.descricao{
	    background-color: #cc533e;
    position: absolute;
    left: 0;
    bottom: -296px;
    width: 100%;
    height: 241px;
    border-top: solid 2px #ffab40;
    z-index: 1;
    padding: 5px;
}